# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Caches
.pytest_cache/
.ipynb_checkpoints/

# Virtual Environments
.venv/
venv/
env/

# Outputs and results
results/
outputs/
data/

# Experiment tracking
wandb/

# FEniCS / Mesh outputs
*.xml
*.pvd
*.vtu

# LaTeX build outputs
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.toc
*.out
*.pdf
